<!-- Footer -->
<footer class="main-footer">
    <!-- Droite -->
    <div class="float-right d-none d-sm-inline"></div>
    <!-- Gauche -->
    <strong>Copyright &copy; 2017-2018 </strong> A&J Las connasses.
</footer>
<!-- End Footer ->
