.margin0{
    margin-bottom:0;
}
div.content a{
    color: #B3272D !important;
}
.puce-none{
    list-style-type: none;
    padding-left: 0;
}
ul.puce-none li a{
    color: #B3272D;
}
td.sorting_1 a{
    color: #B3272D;
}
i.fa-eye, i.fa-edit{
    margin-right:5px;
}
.page-item.active .page-link{
    color: white !important;
    background-color: #B3266E !important;
    border-color: #B3266E !important;
}
div#product_paginate ul.pagination a{
    outline: none !important;
}
.page-link:hover{
    box-shadow: pink !important;
}