.bg-car-list {
    background-image: url("../img/nissan.jpg");
}
.bg-car-list {
    background-image: url("../img/nissan.jpg");
}
.bg-scooter-list {
    background-image: url("../img/scooter-list-2.jpg");
    background-position: bottom -95px right 0;
}
div.dlab-bnr-inr:before {
    background: none;
}
.ow-client-logo {
    background-color: transparent;
}
/* Formulaire de contact */
input#contact_name, input#contact_email, input#contact_phone, input#contact_subject, #contact_message{
    width: 100%;
}

#contact_message{
    height: 100px;
}
