/******************************* GENERAL *******************************/
.action {
    color: #B3272D;
}

.margin0{
    margin-bottom:0;
}

.h2-car-list h2 {
    margin-bottom: 0;
}

/** Bouton add, delete, edit, return **/
.admin-add{
    margin-top: 20px;
    text-align: right;
}

.add{
    background-color: #B3272D;
    color: white;
}

.back-add{
    color: white;
    background-color: #343A40;
    margin-top: 15px;
    margin-bottom: 15px;
}

.return{
    color: white;
    background-color: #343A40;
}

input.delete{
    background-color: #B3272D;
    border-color: #B3272D;
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: pointer;
}
#btn-edit{
    border-color: #B3272D;
}

#btn-edit a{
    color: #B3272D;
}
/** Fin bouton **/
/** css tableau **/
.puce-none{
    list-style-type: none;
    padding-left: 0;
}
td.sorting_1 a{
    color: #B3272D;
}
i.fa-eye, i.fa-edit, i.fa-trash, i.fa-arrow-left{
    margin-right:5px;
}
.page-item.active .page-link{
    color: white !important;
    background-color: #B3272D !important;
    border-color: #B3272D !important;
}
table#product, table#order{
    background-color: white;
}
div#margin-table{
    padding:0 17px !important;
}
div#product_paginate ul.pagination a{
    outline: none !important;
}
table#table-show td{
    padding-left:15px;
}
/** Fin css tableau **/

/** Formulaire Modif Product **/
input#appbundle_product_label, input#appbundle_product_reference, textarea#appbundle_product_description{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select#appbundle_product_publishedAt_date_month, select#appbundle_product_publishedAt_date_day, select#appbundle_product_publishedAt_date_year{
    display: block;
    width: 20%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select#appbundle_product_publishedAt_time_hour, select#appbundle_product_publishedAt_time_minute{
    display: block;
    width: 15%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
div#appbundle_product_publishedAt_date, div#appbundle_product_publishedAt_time{
    display: flex;
}

.add-title div label {
    width: 15%;
}

.add-title div input {
    width: 50%;
}
button.btnEdit {
    margin-right: 10px;
}
div#user_birthDate_time{
    display: none;
}
div#user_birthDate_date{
    display: inline-block;
}
div#user_birthDate{
    display: inline-block;
}
a.paginate_button{
    margin-left: 5px;
    margin-right: 5px;
}
a.previous {
    margin-right: 15px;
}
a.next {
    margin-left: 15px;
}
div.dataTables_paginate a {
    color: #B3272D;
    cursor: pointer;
}
/** Fin Formulaire Modif Product **/

/******************************* DATATABLE CAR LIST *******************************/
.dataTables_filter label, .dataTables_length label {
    display: inline-flex;
}

#car_filter label {
    float: right;
}
#scooter_filter label {
    float: right;
}

#car_filter label input {
    margin-left: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
#scooter_filter label input {
    margin-left: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

select.form-control-sm:not([size]):not([multiple]) {
    margin: 0 10px;
}

#scooter_paginate, #car_paginate {
    text-align: center;
}
