<!-- Footer -->
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="clearfix">
                <ul class="full-social-icon clearfix">
                    <li class="fb col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i class="fa fa-facebook"></i> Share On Facebook </a>
                    </li>
                    <li class="tw col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i class="fa fa-twitter"></i> Tweet About it </a>
                    </li>
                    <li class="gplus col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i class="fa fa-google-plus"></i> Google Plus | 78+ </a>
                    </li>
                    <li class="linkd col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i class="fa fa-linkedin"></i> Linkedin | 21k </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-left"> © Copyright 2018 EMove Développé avec <span class="text-primary">♥</span> par <span class="text-primary"> UniKek</span> </div>
                <div class="col-md-6 col-sm-6 text-right ">
                    <a href="{{ path('aboutus') }}" class="text-uppercase"> Á propos</a> |
                    <a href="{{ path('contact') }}" class="text-uppercase"> Contact</a> |
                    <a href="{{ path('mentionlegale') }}" class="text-uppercase"> Mentions légales</a>
                </div>
            </div>
        </div>
    </div>
</footer>