<!-- Footer -->
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2 footer-col-4">
                    <div class="widget widget_about">
                        <div class="logo-footer"><img src="{{ asset('template-emove/img/emovelogo.png') }}" alt=""></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-4 footer-col-4">
                    <h1 style="display: inline-block; color: #D81517; font-weight: bold; font-size: 45px;margin-bottom: 17px;margin-top: 12px;">E-</h1><h3 style="display: inline-block; font-size: 30px;margin-bottom: 17px;margin-top: 12px;">MOVE</h3>
                    <div class="dlab-separator bg-primary" style="display: block"></div>
                    <ul class="dlab-contact-info" style="list-style-type: none; ">
                        <li><i class="fa fa-map"></i>Adresse : <br> 8 rue Voltaire, Paris (11ème)</li>
                        <li><i class="fa fa-phone"></i>Téléphone : <br> +33 6 83 76 62 84</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 footer-col-4">
                    <h4 class="m-b15 text-uppercase">Nous suivre </h4>
                    <div class="dlab-separator bg-primary"></div>
                    <ul class="full-social-icon clearfix" style="margin-left: 0; margin-right: 0; margin-top: 0px;">
                        <li class="fb m-b30" style="margin-bottom: 15px;">
                            <a href="https://www.facebook.com/" style=""><i class="fa fa-facebook"></i> Partager sur facebook </a>
                        </li>
                        <li class="tw m-b30">
                            <a href="https://twitter.com/" style=""><i class="fa fa-twitter"></i> Partager sur twitter </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-col-4" style="padding-right: 35px; padding-left: 20px;">
                    <div class="widget ">
                        <h4 class="m-b15 text-uppercase">Newsletter</h4>
                        <div class="dlab-separator bg-primary"></div>
                       <form class="dlab-subscribe-form">
                            <div class="input-group m-b15">
                                <input name="dzEmail" required="" class="form-control " type="email" placeholder="Entrer votre E-mail">
                            </div>
                            <div class="input-group">
                                <button name="submit" type="submit" value="Submit" class="site-button btn-block">
                                    ENVOYER <i class="fa fa-angle-right font-18 m-l10"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-left"> © Copyright 2018-2019 Location automobile éléctrique développé par <span class="text-primary"> Unikek</span> </div>
                <div class="col-md-6 col-sm-6 text-right ">
                    <a href="{{ path('aboutus') }}" class="text-uppercase"> à propos</a> |
                    <a href="{{ path('contact') }}" class="text-uppercase"> Contact</a> |
                    <a href="{{ path('mentionlegale') }}" class="text-uppercase"> Mentions légales</a>
                </div>
            </div>
        </div>
    </div>
</footer>