{% extends 'front/layout-registration.html.twig' %}

{% block content %}
    <div class="login-logo">
        <span><b>Connexion</b> E-Move</span>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <form action="{{ path('user_login') }}" method="post">
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="E-mail" value="{{ last_username }}" name="_username">
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="_password" placeholder="Mot de Passe">
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-danger btn-block btn-flat" style="border-radius: 3px">Connexion</button>
                    </div>
                </div>
            </form>
        </div>
        {% if error %}
            <p class="m-b-0 text-danger">{{ error.messageKey }}</p>
        {% endif %}
    </div>
{% endblock %}
